* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --main: #EDEFEE ;
    --second: #333333 ;
    --third: #F4E5D6 ;
    --white: white ;
    --black: black;
}
body:has(#light:checked) {
    --main: #121919 ;
    --second: #46686C ;
    --third: #365353 ;
    --white: white ;
    --black: white;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 15px;
    right: 15px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: var(--second);
}
input:focus + .slider {
    box-shadow: 0 0 1px var(--second);
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}




/* ------------------------------------------------------------------------ */




body {
    background-color: var(--main);
    /* overflow: hidden; */
}

header {
    position: relative;
    display: flex;
    img {
        width: 500px;
        margin-inline: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

nav {
    position: relative;
    padding: 30px;
    ul{
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 25px;
        padding: 10px;
        background-color: var(--second) ;
        width: 70%;
        margin-inline: auto;
        border-radius: 20px;
        
        li a{
            font-size: 20px;
            text-decoration: none;
        }
        li a:visited {
            color: var(--white);
        }
    }
}

main {
    position: relative;
    width: 80%;
    margin-inline: auto;

    section:nth-child(1) {
        position: relative;
        color: white;
        padding: 30px 20px;
        margin: 15px 0;
        text-shadow: 0 0 5px var(--second);

        ::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            background-size: cover;
            background-image: url(Lemon/9_AboutPageImg1-1024x291.png.webp);
            filter: grayscale(40%);
            z-index: -1;
        }

        h1 {
            padding-bottom: 15px;
            font-size: 35px;
        }
    } 

    section:nth-child(2) {
        display: flex;
        width: 100%;
        position: relative;
        gap: 15px;
        justify-content: space-around;

        article {
            position: relative;
            background-color: var(--third);
            border-radius: 15px;
            margin: 15px 0;
            padding: 15px;
            color:var(--black) ;

            img {
                width:100%;
                margin: 20px 0;
                border-radius: 5px;
            }

            p {
                font-size: 15px;
                margin-bottom: 15px;
            }

            a {
                text-decoration: none ;
            }

            a:visited {
                color: rgb(65, 138, 95);
            }
        }
    }
}

footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 80%;
    margin-inline: auto;

    .logo img {
        width: 50px;
    }

    .copyright {
        border-top: 1px solid var(--second);
        width: 40%;
        text-align: right;
        padding: 5px 0;
        color: var(--second);
        font-size: 14px;
    }
}

@media (max-width:500px) {
    header img {
        width: 200px;
        padding-top: 25px;
    }

    nav {
        width: 90%;
        padding: 20px;
        margin-inline: auto;
        ul {
            padding: 15px;

            li a {
                font-size: 15px;
            }    
        }
    }

    main {
        section:nth-child(2) {
            flex-wrap: wrap;
        }
    }

    footer {
        .copyright {
            width: 65%;
            font-size: 12px;
        }
    }
}